@import "settings";
@import "foundation";
@import "compass/css3";

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
  background-color: $base;
}


#menu{
  background-color: $ghost;
  position:fixed;
  top:0;
  left:0;
  z-index: 70;
  width: 100%;
  margin:0;
  padding-top: 1.1em;
  text-align: center;
  height: 3.6em;
  .sub-nav {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
}

#home {
  text-align: center;
  color: $ghost;
  img{
    margin-top: -3.6em;
    height: 50vh;
  }
}

.slide{
  padding-top: 3em;
  background-color: $jet;
  color: $snow;
  h2{
    color: $snow;
  }
  h5{
    color: $snow;
  }
}

.slide-header {
  margin-bottom: 3em;
}

#concept{
  img{
    height: 7em;
  }
}

#signup{
  .panel{
    padding: 20px;
  }

  h2{
    color: $tuatara;
  }
}
#home {

  #lastTweet {
    margin-top: 0.25em;
  }
  h1{
    margin-top: 0.5em;
    a {
      color: $ghost;
    }
    a:hover {
      color: $silver;
    }
  }
}

.video-thumbnail{
  img:hover{
    outline: solid 2px $silver;
  }

  cursor: pointer;
}

.selected{
  img {
    outline: solid 2px $silver;
  }
}

.gallery{
  padding-bottom: 75px;
}

.home-logo{
  cursor: pointer;
}
