@import "settings";
@import "foundation";
@import "compass/css3";

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
  background-color: $base;
}


#menu{
  background-color: $ghost;
  position:fixed;
  top:0;
  left:0;
  z-index: 70;
  width: 100%;
  margin:0;
  padding-top: 1.1em;
  text-align: center;
  height: 3.6em;
  .sub-nav {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
}

#home {
  text-align: center;
  color: $ghost;
  img{
    height: 50vh;
  }
}

.slide{
  background-color: $jet;
}

// Before using the fullpage.js library

/*
#concept, #previousRooms, #volunteer, footer {
  padding-top: 2em;
  padding-bottom: 2em;
}

footer{
  img {
    height: 72px;
  }
}

#concept{
  min-height: 40vh;
  i{
    font-size: 4em;
  }
}

#previousRooms{
  min-height: 60vh;
  h2{
    margin-bottom: 1em;
  }
  background-color: $white-smoke;
}

#volunteer{
  h2{
    margin-bottom: 1em;
  }
  min-height: 85vh;
}

footer{
  min-height: 15vh;
  background-color: $tuatara;
  color: $iron;

  .circle{
    float: right;
    margin-left: 10px;
    height: 1.5em;
    width: 1.5em;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: $iron;
    color: $tuatara;
    font-size: 3em;
  }
}

.primary-empty {
  @include button(
    // $padding - Used to build padding for buttons Default: $button-med or rem-calc(12)
          $button-med,
    // Background color. We can set $bg:false for a transparent background. Default: $primary-color.
          false,
    // If true, set to button radius which is $global-radius or explicitly set radius amount in px (ex. $radius:10px). Default:false.
          $global-radius
  );

  border-width: 2px;
}

#home, #page2{
  min-height: 100vh;
}


.photo-upload{
  min-height: 150px;

}*/
