<template name="concept">
    <div class="row">
        <div class="large-8 large-offset-2 columns text-center slide-header">
            <h2 class="text-center">Concept</h2>
            <p>Chambre Sonore met en relation des amoureux du son et de la fête et leur permet
                de passer un moment privilégié le temps d’un before.</p>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns text-center">
            <img src="/images/Huse.png">
            <p>Tu souhaites accueillir une Chambre Sonore chez toi ?
                Tu vis à Paris et veux faire un before dans ton salon avec Djs en live et enregistrements vidéos pour faire kiffer tes potes ?
                Renseigne le formulaire concerné et nous te recontacterons afin de t’aider au mieux dans l’organisation de ta soirée.</p>
        </div>
        <div class="large-6 columns text-center">
            <img src="/images/DJ.png">
            <p>Tu souhaites jouer à une Chambre Sonore ?
                Tu es un Dj de talent et veux mixer ou performer en live devant un public, tout en étant enregistré et diffusé sur notre réseau ?
                Renseigne le formulaire concerné et nous te recontacterons afin de te rencontrer.</p>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns text-center">
            <img src="/images/danse.png">
            <p>Tu souhaites participer à une Chambre Sonore ?
                Tu estimes qu’il n’y a pas de meilleure before qu’aller chez un pote où des Djs te font kiffer en direct, où tu ne payes pas tes consos, et où le tout est enregistré ?
                Parle du concept à un de tes potes qui pourrait heberger une session et aide le à organiser sa soirée chez lui.</p>
        </div>
        <div class="large-6 columns text-center">
            <img src="/images/film.png">
            <p>LTu souhaites revivre les Chambres Sonores ?
                Tu as kiffé le set d’un Dj ou l’ambiance d’un appart’ en particulier ?
                Toutes nos Chambres Sonores sont enregistrées et tu peux les visionner ou les écouter sur notre site dans la section “Sessions”.</p>
        </div>
    </div>
</template>
