<template name="home">
    <img src="images/chambre_sonore_logo_global_transparent.svg"
         alt="Chambre Sonore" class="home-logo">
    <div class="row">
        <div class="large-offset-3 large-6 columns">
            <h1><a href="https://twitter.com/chambre_sonore"><i class="fi-social-twitter"></i></a> </h1>
        </div>
    </div>
    <div class="row">
        <div class="large-offset-3 large-6 columns text-center">
            <p id="lastTweet" ></p>
        </div>
    </div>
</template>